/* Adaptamos las reglas al código que genera drupal y definimos los estilos generales */

/* Lo primero es posicionar el formulario para asegurarnos que el efecto se produce de derecha a izquierda */
.navbar-form {
    position:absolute;
    right:32%;
    top:43%;
    
}

/* Definimos las transiciones */
.navbar-form .form-control[type=text] {
    font-family: Helvetica, serif;
    font-size: 14px;
    padding: 2%;
    padding-left: 7%;
    color: #c0c0c0;
    background: transparent;
    display:inline-block;
    transition: all .5s;
    border-color: #fe9870;
    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
}
/* Al situar el puntero en el campo de búsqueda este cambia su color de fondo a blanco, el color de la letra, el borde y la sombra */
.navbar-form .form-control[type=text]:focus {
    
    -webkit-box-shadow: 0 0 5px #fe9870;
    -moz-box-shadow: 0 0 5px #fe9870;
    box-shadow: 0 0 5px #fe9870;
}

/* Para pantallas grandes hacemos que el formulario se despliegue con amplitud ya que disponemos de espacio en la barra de navegación, la busqueda se ejecuta con intro o pinchando en el icono de la lupa */
@media (min-width:1200px) {
    .navbar-form input.form-control[type=text] { width: 550px; height: 5px; }
    .navbar-form input.form-control[type=text]:focus { width: 600px; }
}

button {
    position: absolute;
    right: 95%;
    top: 40%;
    width: 15px;
    height: 15px;
    background: url("./assets/search.png") no-repeat;
    background-size: 15px;
    border: 0;
}

#track-me {
    position: absolute;
    top: 8%;
    left: 42%;
    width: 250px;
}