label {
    display: block;
}

#search-button {
    border: 1 #fe9870;
    width: 50px;
}

.search {
    font-size: 18px;
    font-family: 'Bitter', serif;
    font-weight: bold;
}

.search .localitation {
    position: absolute;
    left: 20%;
    top: 45%;
}

.search .localitation .localitation-input {
    background: transparent;
    border-color: #fe9870;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    color: white;
    font-family: 'Bitter', serif;
    width: 400px;
    height: 22px;
}

.search .genre {
    position: absolute;
    left: 20%;
    top: 57%;
}

.search .genre .genre-select {
    background: transparent;
    border-color: #fe9870;
    color: white;
    font-family: 'Bitter', serif;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    width: 400px;
    height: 22px;
}

.search .age {
    position: absolute;
    left: 50%;
    top: 43%;
}

.search .age .age-input {
    padding-top: 1%;
    width: 350px;
    height: 35px;
}

.search .weight {
    padding-top: 0.7%;
    position: absolute;
    left: 50%;
    top: 49%;
}

.search .weight .weight-input {
    width: 350px;
    height: 35px;
}

.search .hearth-rate {
    padding-top: 0.7%;
    position: absolute;
    left: 50%;
    top: 57%;
}

.search .hearth-rate .hearth-rate-input {
    width: 350px;
    height: 35px;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
    border: 1px solid #fe9870;
    height: 11px;
    width: 11px;
    border-radius: 1px;
    background: #ffffff;
    cursor: pointer;
    -webkit-transform: rotate(45deg) skew(15deg, 15deg);
    -moz-transform: rotate(45deg) skew(15deg, 15deg);
    -ms-transform: rotate(45deg) skew(15deg, 15deg);
    -o-transform: rotate(45deg) skew(15deg, 15deg);
    transform: rotate(45deg) skew(15deg, 15deg);
  }
  
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    box-shadow: 0.5px 0.5px 0.5px white, 0px 0px 0.5px white;
    background: #fe9870;
    border-radius: 1.3px;
    border: 0.2px solid #fe9870;
  }
  
  input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }

.track-me-img {
    position: absolute;
    top: 4%;
    left: 35%;
    width: 250px;
}