button {
    font-family: 'Bitter', serif;
    font-weight: bold;
    font-size: 20px;
    width: 20%;
    height: 50px;
    background: #4d4845;
    border: 2% solid #fe9870;
    border-color: #fe9870;
    color: white;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
}

#search_individual {
    position: absolute;
    bottom: 75%;
    right: 15%;
}

#search_group {
    position: absolute;
    bottom: 60%;
    right: 15%;
}

#my_account {
    position: absolute;
    bottom: 45%;
    right: 15%;
}

#contact {
    position: absolute;
    bottom: 30%;
    right: 15%;
}

img {
    position: absolute;
    right: 75%;
    top: 50%;
    size: 400px;
}